/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 2, 2019, 12:14:26 AM
    Author     : Nurielmeni
*/

section.social-icons ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

section.social-icons ul li {
  padding: 0 0.5rem;
  list-style: none;
}

section.social-icons ul li a {
  text-decoration: none;
}
